---
layout: post
title: thoughtsposting
---
<ul>
	{% assign sorted_tags = site.tags | sort %}
	{% for tag in sorted_tags %}
	{% assign vids = tag[1] | sort %}

	{% if vids != empty %}
	  <a href="/tag/{{ tag[0] }}">{{tag[0]}}</a>
	{% endif %}
{% endfor %}
</ul>
<hr>
<ul style="margin-top: -1em">
  {% for post in site.posts %}
    <li>
      <h2 style="margin-bottom: -.8em"><a href="{{ post.url }}">{{ post.title }}</a></h2><br><em>[{{ post.date | date: site.theme_config.date_format }}]</em><br>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>