// ---- VARIABLES ----- //

$accent: #89bb78;
$fonts: 'Courier New', monospace;
$highlight: #ff0;

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// ----- GENERAL ----- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background-color: white; }

html { height: 100%; width: 100vw; overflow-x: hidden;}

body {
  color: black;
  font-family: $fonts;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0;
  min-height: 100%;
}

// set yellow highlight
::selection { background: $highlight; }

h2, h3, h4, h5 { margin-top: 3rem; }

hr {
  margin: 2rem 0;
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

// ---- TYPOGRAPHY ----- //

p { margin: 1rem 0; }

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

a {
  &:visited { color: blue; }
  &:hover {
    color: purple;
    text-decoration: line-through underline;
    font-style: italic;
  }

  i { // homepg socials
    color: black;
    &:hover { color: $accent; }
  }
}

.accent {
  color: #89bb78;
}

code {
  color: white;
  background-color: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

// ----- OTHER GEN ----- //

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

li { margin: 0.4rem 0; }

*:target { background-color: yellow; }

.x {
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 1000px;
}

.box {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

// ---- HOMEPAGE ---- //

#title {
  margin: 0 auto 0 auto;
  font-style: italic;
}

#me {
  margin: 1em;
  width: 30%;
  height: auto;
  display: block;
  float: left;
}

#blurb {
  padding: .5em;
  p {
    margin-bottom: 0
  }
}

#homepglist {
  display: block;
  padding: 0;
  list-style-type: katakana-iroha;

  > ul {
    list-style-type: none;

    li:before {
      content: ">";
    }
  }
}

.narrow {
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 640px;
}

// ----- RESUME ----- //

#restop {
  text-align: center;
}

.reshead {
  margin: 0;
}

.l {
  font-size-adjust: .4;
  height: 1.3em;
}

.tricol {
  display: flex;
  column-count: 3;
}

.col {
  max-width: 33%;
  flex: 1;
  font-size: .7em;

  ul {
    margin: 0;
  }
}

.rightcol {
  float: right;
  padding-right: 1%;
  font-style: italic;
}

.jobloc {
  display: inline;
  margin-top: 3em;
}

.jobdesc {
  &:before {
    content: ' ';
    display: block;
  }
  font-style: italic;
  text-decoration: underline;
}

header h3 {
  margin: 0;
  margin-bottom: -.7em;
}

// may need to revise later -- used this for now
// bc ul elements are in markdown.
header + ul {
  margin-top: 2%;
}

ul + header, header + header {
  margin-top: 1em;
}

// ----- PHOTO/VIDEO ----- //

.grid {    
  -webkit-transition: .2s -webkit-filter linear;
  -moz-transition: .2s -moz-filter linear;
  -moz-transition: .2s filter linear;
  -ms-transition: .2s -ms-filter linear;
  -o-transition: .2s -o-filter linear;
  transition: .2s filter linear, .2s -webkit-filter linear;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-right: 5%;

    &:hover {
      filter: opacity(75%);
    }
}

.photowall {
      width: 100%;
      column-count: 3;
      column-gap: 2%;
}

iframe {
  text-align: center;
  margin: 0 auto;
  display: block;
}

// ----- BLOG ----- //

.imgcontainer {
  height: 400px;
  overflow: hidden;
  margin: 0 auto 1em auto;

  img {
    display: block;
    width: 100%;
    margin: -15% 0;
  }
}

.dt {
  margin-top: -1.5em;
}

#tags {
  display: inline-block;
}

#blogposts {
  margin-top: -1em;
  list-style-type: none;
}
